* {
  box-sizing: border-box;
}
body {
  background-color: #d9e5d6;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2e5077;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 500px;
  height: 400px;
  box-shadow: 7px 3px 3px #2e5077;
  border: solid 1px #2e5077;
}

section {
  display: flex;
  flex-direction: row;
}
label {
  padding: 2em;
  font-weight: bold;
  font-size: 18px;
}
input {
  border: solid 1px #2e5077;
  box-shadow: 7px 3px 3px #2e5077;
  margin: 1em;
  padding: 0.3em;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2e5077;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
